@{
    ViewBag.Title = "Home Page";
}
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Employee manager
        </h1>
        <p class="lead">Small task about Web pages and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://dictionary.cambridge.org/dictionary/english/employee" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                Employee management is the effort to help employees do their best work each day
                in order to achieve the larger goals of the organization. There are many tasks 
                and duties that fall under employee management.
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.bamboohr.com/resources/hr-glossary/employee-management">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>Monitoring includes the measuring and evaluation of employee performance, also called performance management.</p>
            <p><a class="btn btn-outline-dark" href="https://www.bamboohr.com/resources/hr-glossary/employee-management">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Handle</h2>
            <p>When you run into an employee who has an attitude problem, it can be challenging
            to motivate them to try new things or adjust their behavior. If they produce quality work,
            you might be tempted to just leave them to their own devices.</p>
            <p><a class="btn btn-outline-dark" href="https://www.bamboohr.com/resources/hr-glossary/employee-management">Learn more &raquo;</a></p>
        </section>
    </div>
</main>